div.container {
   width:100%;
    border: 1px solid gray;
}

header {
    padding: 1em;
    background-color: black;
    clear: left;
    text-align: center;
	color: black;
}
h1 {
	color:black;
    align-content: center;
     }
article, h2 {
	color:white;}
p {
    text-align: left;
    color:white;
}
article {
  margin-left: 100px;
  margin-right: 100px;
    border-left: 1px solid greenyellow;
    border-right: 1px solid greenyellow;
    padding: 1em;
    overflow: hidden;
    color:white;
    background-color:#000;

}
body {
    margin: 0;
     background-color:#000;
}
#Intro{background-color: white;
	padding:5px;
	text-align: center;
}
#Intro h1 {
	font-size: 40px;
	text-align: left;
	padding-left: 10px;
	color: black;
}

#Intro img {
	padding-top: 10px;
	padding-left: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF302C;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #851917;
}

 footer {
    padding: 1em;
   
    background-color: black;
    clear: left;
    text-align: center;


 }
#Event {

background-color: #82BD65;
    float: center;
    max-width: 600px;
    margin-left: 100px;
    padding: 1em;
    max-height: 600px;
    color: black;
    margin-top: 10px;
}

#Event ul {
    list-style-type: none;
    padding: 0;
}
   
#Event ul a {
    text-decoration: none;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: yellowgreen;
    padding: 12px 18px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; align-content: center;
}

input[type=submit]:hover {
    background-color: yellow;
   
}

div {
    border-radius: 5px;
  
    padding: 20px;
}